#body {
    margin:0%;
    background-color: rgb(183, 196, 201);
    
}

#wrapper{
    height:100%;
    width:100%;
}
#header{
    overflow:auto;
}

#title h1 {
  padding: 0%;
  background-color: rgb(183, 196, 201);
  margin: 0%;
}
#nav{
    background-color: black;
    overflow:auto;
}
#nav ul {
    background-color: rgb(47, 236, 0);
    border: 0%;
    padding: 0%;
    display: inline;
}
#nav li {
    background-color:rgb(116, 199, 238);
    float: left;
    padding: 0.5%;
    list-style: none;
    border-right: 2px solid white;
}
#nav a{
    color: black;
    text-decoration: none;
    margin-right: 5px;
    
}

#header ul li:hover{
    background-color: hotpink;
}

#content{
    
    display:block;
    color: rgb(183, 196, 201);
    color:black;
}
#content h2{
    padding:3%;
}

#main-page{
    max-width: 70%;
    float:left;
    overflow: hidden;
    display:inline;
    background-color: white;
}

#content h2 {
    color: blue;
    padding:1%;
}


#sidebar{
    float: right;
    background-color: rgb(183, 196, 201);
    max-width: 25%;
    display: inline;
    padding:1%;
    overflow: hidden;
    position:relative;
    color:black;

  }

  #footer{
    width:98%;
    float:left;
    text-align: right;
    background-color: lightblue;
    padding:1%;
  }

  #footer h4,p{
    margin:1.3%;
  }